:root {
	--Almost-White: hsl(0, 0%, 98%);
	--Medium-Gray: hsl(0, 0%, 41%);
	--Almost-Black: hsl(0, 0%, 8%);

}

@font-face {
	font-family: bold;
	src: url(../fonts/static/Epilogue-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../fonts/static/Epilogue-Light.ttf);
}

@font-face {
	font-family: medium;
	src: url(../fonts/static/Epilogue-Medium.ttf);
}

body{	
	height: 100vh;
}

header{
	display:flex;
	margin-top:35px
}

.header-option-btns-area{
	display: flex;
	margin-left:30px;
}

.header-option-btn{
	background: none;
	border: 0px;
	color:var(--Almost-Black);
	margin-left:30px ;
	font-family: medium;
}

.login-area{
	display: flex;
	flex-grow: 1;
	justify-content: end;
	margin-right: 100px;
}

.login-btn{
	margin-right: 20px;
}

